@use '../base-lib' as *;

.intro {
  margin-top: 105px;

  .title {
    margin-top: 15px;
  }

  @include mix-add-media($var-medium-bp) {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
}

.intro_hero {
  display: flex;
  justify-content: space-between;

  @include mix-add-media($var-medium-bp) {
    flex-direction: column;
    align-items: center;
  }
}

.intro_info {
  @include mix-add-media($var-medium-bp) {
    width: 335px;
  }

  @include mix-add-media($var-extra-small-bp) {
    width: 305px;
  }
}

.intro_img-container {
  width: 400px;
  height: 500px;

  overflow: hidden;
  clip-path: inset(100% 0 0 0);

  @include mix-add-media($var-large-bp) {
    width: 335px;
    height: 360px;
  }

  @include mix-add-media($var-medium-bp) {
    margin-bottom: 30px;
  }

  @include mix-add-media($var-extra-small-bp) {
    width: 305px;
  }
}

.intro_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
