.transition {
  display: flex;

  height: 100%;
  width: 100%;

  pointer-events: none;

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;

  li {
    width: 20%;
    background-color: #fff;
    list-style: none;

    transform: scaleY(0);
    transform-origin: bottom left;
  }
}
